:host {
  display: block;
}

.about {
  &__nav {
    margin: 1rem 0;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
  }
}

.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  &__link {
    color: #555;
    border-bottom: 1px dotted #555;
    text-decoration: none;

    &--active {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}
